{% extends 'menu.html' %}
{% block content %}

<h2>Current Equipment List </h2>
<a href = "{{ url_for('add_equip') }}">Add new equipment item</a><br><br>

<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Equip Name</th>
            <th>Location</th>
            <th>Price ($)</th>
            <th>Equipment Quantity</th>
            <th>Equipment Image File</th>

        </tr>
    </thead>
    <tbody>    
        {% for item in equipment %}
        <tr>    
            <td>{{ item.equip_name}}</td>
            <td>{{ item.location_id }}</td>
            <td>{{ item.purchase_price }}</td>
            <td>{{ item.equip_quantity }}</td>
            <td>{{ item.equip_image }}</td>
        </tr>
        {% endfor %}
    </tbody>


{% endblock %}
