{% extends 'menu.html' %}

{% block content %}

<h2>Add new Equipment Item</h2>
<br>
<!-- create form for adding equipment items to the collection -->
<form method="POST">
    <!-- labels for the form -->
    <label for="equip_name">Equipment name:</label>
    <input type="text" name="equip_name" id="equip_name" >
    
    <br><br>
    
    <label for="location">Location:</label>
    <select name="location" id="location">
        <option value="1">C10</option>
        <option value="2">Library</option>
        <option value="3">Tech Office</option>
    </select>
    
    <label for="equipment_quantity">Quantity:</label>
    <input type="number" name="equipment_quantity" id="equipment_quantity" />
    <br><br>

    <!-- checkbox for the form to show item available for loan -->
    <label for="available_for_loan" class="pure-checkbox">
        Available for loan:
        <input type="checkbox" name="available_for_loan" id="available_for_loan" />
    </label>
    <br><br>
    <!-- button to add equipment -->

    <input type="file" id="myFile" name="filename">
    <br><br>

    <input type="submit" value="Submit">

</form>

{% endblock %}

