{% extends 'menu.html' %}
{% block content %}

<h2>Edit Equipment Item</h2>

<ul class="errors">
    {% for field, errors in form.errors.items() %}
        <li>
            {{ form[field].label }} {{ ', '.join(errors) }}
        </li>
    {% endfor %}
</ul>
<!-- create form for adding equipment items to the collection -->
<form method="POST">
    {{ form.csrf_token }}

    {{ form.equip_name.label(class='form-label') }}
    {{ form.equip_name(class = 'form-control') }}<br>

    {{ form.purchase_price.label(class='form-label') }}
    {{ form.purchase_price(class = 'form-control') }}<br>

    {{ form.equip_details.label(class='form-label') }}
    {{ form.equip_details(class = 'form-control') }}<br>

    {{ form.location_id.label(class='form-label') }}
    {{ form.location_id(class = 'form-control') }}<br>

    {{ form.date_entered.label(class='form-label') }}
    {{ form.date_entered(class = 'form-control') }} <br>


    {{ form.hidden_tag() }}
    {{ form.file }} 
  
    <td><img src = "/static/images/{{ form.file }}" ></td>
    {{ form.submit(class_="btn btn-primary btn-sm") }}
    <br><br><br><br>


</form>  


{% endblock %}

