{% extends 'menu.html' %}
{% block content %}

<h2>Edit Equipment Item</h2>

<ul class="errors">
    {% for field, errors in form.errors.items() %}
        <p class="text-danger">
            {{ form[field].label(class = 'form-label mt-4') }} {{ ', '.join(errors) }}
        </p>    
    {% endfor %}
</ul>
<!-- create form for adding equipment items to the collection -->
<form method="POST">
    {{ form.csrf_token }}

    {{ form.equip_name.label(class='form-label') }}
    {{ form.equip_name(class = 'form-control') }}<br>

    {{ form.purchase_price.label(class='form-label') }}
    {{ form.purchase_price(class = 'form-control') }}<br>

    {{ form.equip_details.label(class='form-label') }}
    {{ form.equip_details(class = 'form-control') }}<br>

    {{ form.location_id.label(class='form-label') }}
    {{ form.location_id(class = 'form-control') }}<br>

    {{ form.purchase_date.label(class='form-label mt-4') }}
    {{ form.purchase_date(class = 'form-control',placeholder="dd/mm/yyyy") }}<br>

  
    <td><img src = "/static/images/{{ form.file }}" ></td><br><br>
    
    

    
    {{ form.submit(class_="btn btn-outline-success") }}
    <br><br><br><br>


</form>  


{% endblock %}

