{% extends 'menu.html' %}
{% block content %}

<h2>Current Equipment List </h2>
<a href = "{{ url_for('add_equip') }}">Add new equipment item</a><br><br>

<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Equip Name</th>
            <th>Location</th>
            <th>Price ($)</th>
            <th>Equipment Quantity</th>
            <th>Equipment Image File</th>
            <th></th>
            <th></th> 
        </tr>
    </thead>
    <tbody>    
        {% for item in equipment %}
        <tr>    
            <td>{{ item.equip_name}}</td>
            <td>{{ item.location.location_name }}</td>
            <td>{{ item.purchase_price }}</td>
            <td>{{ item.equip_quantity }}</td>
            <td>{{ item.equip_image }}</td>
            <td>
                <a class="button-secondary pure-button" href="{{ url_for('edit_equipment', id = item.equip_id) }}">
                    Edit
                </a>
             </td>
             <td>
                <a class="button-secondary pure-button" href="{{ url_for('delete_equipment', id = item.equip_id) }}">
                    Delete
                </a>
             </td>
        </tr>
        {% endfor %}

        
    </tbody>
</table>
</body>


{% endblock %}
