{% extends 'menu.html' %}

{% block content %}

<!-- landing page of webapp -->
<h1 style=> Welcome to our App! </h1>
<p> Welcome to the Digitech Collection App
    <ul>
        <li>This app was created to allow users (teachers/admin) to manage a collection of devices.</li>
        <li>New items can be added, as well as locations.</li>
        <li>Details of these devices can be recorded.</li>
        <li> In the future, teachers will be able to 'loan' equipment. </li>
        
      </ul>
      <img src="static\images\TheDTCollection.png" alt="K2 Digitech Collection Banner">
      <br>
      
      </a>
      

</div>
    
</p>
{% endblock %}



