{% extends 'menu.html' %}

{% block content %}
<img-big src="static\images\TheDTCollection.png" alt="K2 Digitech Collection Banner">
      <br><br><br>
<h1 style=> Welcome to The DigiTech Collection! </h1>

   
            <ul>
                  <li>Manage your collection of digital technology devices.</li>
                  <li>Create a library of equipment with the storage locations.</li>
                  <li>Users can "loan" equipment.</li>
                  <li>Admin users can manage locations, equipment and view loans of all user. </li>
                  
            </ul>

      <!--Add bubble chart of loans per user per month for admin only users -->
      {% if current_user.is_admin == True %}            
            
            <h4>{{ title }}</h4>

            <!-- The HTML element where the Plotly chart will be displayed -->

            <div class="chart" id="chart" ></div>

            <!-- Include the Plotly JavaScript, to create the chart -->
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

            <!-- Get the JSON data for the Plot from the route and render it with Plotly -->
            <script type="text/javascript">
                  var graphs = {{ chart_JSON | safe }};
                  Plotly.plot('chart', graphs,{});        
            </script>
            <br><br>
      {%else%}
      {%endif%}
 <p>* Clicking on user names toggles individual user data.</p>

{% endblock %}



