{% extends 'menu.html' %}
{% block content %}

<!-- Page including form to add new loans. -->
<br>
<h2>Add New Loan</h2>
<ul class="errors">
    {% for field, errors in form.errors.items() %}
        <li>
            {{ form[field].label }} {{ ', '.join(errors) }}
        </li>
    {% endfor %}
</ul>


<!-- create form for adding new loan-->
<form method = "POST" >    
    {{ form.csrf_token }}
    
    <h6>Today's date is:  {{ date_today.strftime('%d-%m-%Y') }} </h6>

    {{form.id.label(class = 'form-label')}}
    {{form.id(class = 'form-control')}}<br>

    {{form.equip_id.label(class = 'form-label')}}
    {{form.equip_id(class = 'form-control')}}<br>
  
    {{ form.submit(class_="btn btn-outline-success") }}

</form>

{% endblock %}