<!-- Page including form to add new locations. Currently contains Dummy Data in a table -->

{% extends 'menu.html' %}
{% block content %}

<h2>Add new Location</h2>
<form  method="POST">
    <label for="location_name">Location</label><br>
    <input type = "text" name ="location_name" id="location_name"/><br>
    <label for="location_id">Location ID</label><br>
    <input type = "integer" name ="location_id" id="location_id"/><br>
    <input type="submit" value="Submit">
</form>





{% endblock %}


