<!-- Page including form to add new user -->
<!-- Password hidden -->

{% extends 'menu.html' %}
{% block content %}

<h1> Login </h1>

<form method='POST'>
    {{ form.csrf_token }}
    <div class="col-3">
        {{ form.email_username.label(class='form-label') }}
        {{ form.email_username(class='form-control') }}
    </div>
    <div class="col-3">
        {{ form.password.label(class='form-label') }}
        {{ form.password(class='form-control') }}
    </div>
  <br>
    {{ form.submit(class='btn btn-outline-primary') }}
</form>
{% endblock %}

