
<!-- This is the menu for our app-->
<!-- Link to CSS file-->
<!-- Creates menu items in top navigation menu-->

<!DOCTYPE html>
<html>
    <head>
        <title> The Digitech Collection </title> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <body>
        <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2 mb-4">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="static\images\TheDTCollectionLogo.png" alt="K2 Digitech Collection Banner"></a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" mr-auto>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_equip', message = 'View') }}">Equipment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_location') }}">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_user') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_loan') }}">Loans</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_user') }}" data-bs-target="#myModal" data-bs-toggle="modal">Logged in as: Joe Blogs ADMIN</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% for message in get_flashed_messages() %}
            <p style="color:red"><i> {{ message }}</i></p>
            <br>
        {% endfor %}
        </div>
        <div class="container">
        {% block content %}

        <!-- This is where the child pages will go -->
        {% endblock %}
        </div>
        

    <!-- Footer -->
    <footer class = "text-center text-lg-start bg-ligh text-muted">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            Contact details: thedigitechcollection@dc.com        
        </div>
    </footer> 
    

    
    </div>
    </body>

   
        
 
</html>