
<!-- This is the menu for our app-->
<!-- Link to CSS file-->
<!-- Creates menu items in top navigation menu-->

<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} - Digitech Collection </title> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/pure-min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/site.css') }}">
    </head>
    <body>
        <p>
            <h1> The Digitech Collection</h1>
        </p>
        
        
        <hr>
        <!-- Navigation Bar -->
        <div class="topnav">
            <a href = "{{ url_for('index') }}">Home</a>
            <a href = "{{ url_for('equipment') }}">Equipment</a>
            <a href = "{{ url_for('locations') }}">Locations</a>
            <a href = "{{ url_for('reports') }}">Reports</a>
            <a href = "{{ url_for('users') }}">Users</a>
            <a href="{{ url_for('login') }}"> 
                <img src="{{ ('/static/images/loginLogo.jpg') }}" style = "width:50px; height:20px" alt="LoginLogo"  >
            </a>
        </div>
        
        {% block content %}
        <!-- This is where the child pages will go -->
        {% endblock %}
        </div>

        <!-- Footer -->
        <footer class = "footer">
           Contact details: thedigitechcollection@dc.com
        </footer>
    
    </body>


        
    </body>

</html>