<!-- Page including form to add new user -->
<!-- Password hidden -->

{% extends 'menu.html' %}
{% block content %}

<h1> New User </h1>
<p> 
    This is where we will have the page for new users
</p>



<form>
    <label> Username </label><input type = "text" name ="username">
    <label> Email </label><input type = "text" name ="email"><br><br>
    <label> Password </label><input type = "password" name ="password">
    <a href = "{{ url_for('add_user') }}">Add User</a>

</form>





{% endblock %}
