<!-- Page including form to add new user -->
<!-- Password hidden -->

{% extends 'menu.html' %}
{% block content %}

<h1> Add New User </h1>
<br>
<!-- create form for adding new user-->

<form method = "POST" class="pure-form-stacked">
    <h3> User </h3>
    
    {{ form.csrf_token }}
    
    {{ form.first_name.label}}
    {{form.first_name}}<br><br>

    {{ form.last_name.label}}
    {{form.last_name}}<br><br>

    {{ form.email.label}}
    {{form.email}}<br><br>

    {{ form.password.label}}
    {{form.password}}<br><br>

    {{ form.submit(class_="pure-button pure-button-primary") }}


</form>

{% endblock %}
